@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* 
    Good                              0 - 50
    Moderate                         51 - 100
    Unhealthy for Sensitive Groups   101 – 150
    Unhealthy                        151 – 200
    Very Unhealthy                   201 – 300
    Hazardous                        301+
*/

$quality: (
    "Good": #558B2F,
    "Moderate": #FBC02D,
    "Unhealthy for Sensitive Groups": #F57C00,
    "Unhealthy": #E65100,
    "Very Unhealthy": #d32f2f,
    "Hazardous": #b71c1c
);

body{
    z-index: 200;
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    display: block;

    @each $q, $color in $quality {
        &[data-quality="#{$q}"]{
            background: lighten($color, 30%);
            
            #data{ 
                border-color: lighten($color,25%)
            }
            .quality{ 
                color: $color;
            }
        }
    }



    #data{ 
        max-width: 500px; 
        font-weight: 100;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1.5em; 
        border-radius: 5px;
        background: #fff;
        border-width: thin;
        border-style: solid;
        text-align: center;

        p{ 
            padding: 0; 
            margin: 0; 
            margin-bottom: 1em;

            &:last-child{ 
                margin-bottom: 0;
            }
        }

        .quality, .index, .location{ 
            font-weight: bold;
        }

        .date{ 
            color: #777; 
            font-size: 0.75em; 
            font-style: italic;
        }

        .alert{ 
            font-size: 0.9em; 
        }
    }

    // Mobile
    @media(max-width: 768px){
        font-size: 20px;

        #data{ 
            max-width: 80%; 
            width: 80%;
        }
    }
}

// Clouds
.clouds{
    z-index: -1;
    overflow: hidden;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0;
    color: #fff;
    font-size: 200px;

    .cloud{
        position: absolute;
        top: 0;
        left: 0;
        animation-name: float;
        animation-duration: 60s;

        &:before{
            content: "\f21f";
            font-family: "material-design-iconic-font";
        }

        &:nth-child(1){
            opacity: 0.5;
            top: 10%;
            left: 0%;
            font-size: 2em;
        }

        &:nth-child(2){
            opacity: .75;
            top: 0%;
            left: -2%;
            font-size: 1.5em;
        }

        &:nth-child(3){
            opacity: 0.4;
            top: 50%;
            left: 72%;
            font-size: 0.8em;
        }

        &:nth-child(4){
            opacity: 0.75;
            top: 80%;
            left: 90%;
            font-size: 2.25em;
        }

        &:nth-child(5){
            opacity: 0.25;
            top: 50%;
            left: 65%;
            font-size: 1.6em;
        }
    }
}

@keyframes float {
    from { transform: translateX(100%) translateZ(0); }
    to { transform: translateX(-15%) translateZ(0); }
}